## 1. 위에서 아래로

In [ ]:
n = int(input())
array = []
for i in range(n) :
  array.append(int(input()))
array.sort(reverse = False)
print(array)

3
12
15
27
[12, 15, 27]

##2. 성적이 낮은 순서로 학생 출력하기

In [3]:
n = int(input())

array=[]
for i in range(n):
  input_data = input().split()
  array.append((input_data[0], int(input_data[1])))
array = sorted(array, key = lambda student: student[1])
for student in array:
  print(student[0], end = ' ')

2
홍길동 24
이순신 34
홍길동 이순신

## 3. 두 배열의 원소 교체

In [11]:
n, k= map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort ( )
b.sort(reverse=True)
for i in range(k):
 # A의 원소가B의 원소보다 작은 경우
  if a[i] <b[i]:
    a[i], b[i]= b[i], a[i]
  else :
    break
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26